---
// import { routes } from "../../../lib/native/route";

const { post } = Astro.props;
// const r = routes(Astro);
---

<div class="cursor-pointer group">
  <h2
    class="mt-2 text-lg font-semibold tracking-normal text-brand-primary dark:text-white"
  >
    <a href="#">
      <span
        class="bg-gradient-to-r from-green-200 to-green-100 dark:from-purple-800 dark:to-purple-900 bg-[length:0px_10px] bg-left-bottom bg-no-repeat transition-[background-size] duration-500 hover:bg-[length:100%_3px] group-hover:bg-[length:100%_10px]"
      >
        {post.frontmatter.title}
      </span>
    </a>
  </h2>
</div>
